<div class="container mb-5">
  <br>
  <h1>Prizes</h1>
  <br>
  <% @items.to_a.each_slice(3) do |group| %>
    <div class="card-deck justify-content-center">
      <div class="row justify-content-center">
        <% group.each do |item| %>
          <div class="col-auto mb-3">
            <div class="card border-primary mb-3" style="width: 18rem;">
              <img class="card-img-top" src="<%= item.image_url %>" width="250" height="250" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text"><%= item.description %></p>
                <%= link_to 'Buy', transactions_path(user_id: current_user.id, item_id: item.id, quantity: 1), method: :post, remote: true, class: 'btn btn-primary' %>
              </div>
              <div class="card-footer text-muted">
                <div class="d-flex justify-content-between">
                  <div>QTY : <span id="item-<%= item.id %>"><%= item.quantity %></span></div>
                  Price : <%= item.price %> PTS
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>